@import "../../../data/assets/style/style_import";

.contactContainer {
    .addressDetails {
        font-family: $font-family;
        font-size: 18px;
        line-height: 1.67;
        color: #333333;
    }
}
