@import "../../data/assets/style/style_import";

.ourCompaniesContainer {
    background-color: #f5f2e9;
}

.ourClientsContainer {
    background-color: #f6f8fa;
}

.companyList {
    .company {
        .companyImage {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            background-color: $primary-2;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;

            .knowMore {
                color: rgba(white, 0.7);
                border: 1px solid rgba(white, 0.7) !important;
                font-size: 11px;
                border: 1px solid white;
                font-family: $font-family;
                padding: 10px;

                &:hover {
                    color: white;
                }
            }

        }

        &:hover {
            .overlay {
                opacity: 0.9;
                background-color: #006daa;
            }
        }
    }
}
